body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #000000, #111111);
  color: white;
  text-align: center;
}

header {
  padding: 40px 20px;
}

h1 {
  font-size: 40px;
  color: #ff0033;
}

.generator, .pro {
  background: #1a1a1a;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}

select, button {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #ff0033;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ff3355;
  transform: scale(1.05);
  transition: 0.2s;
}

.pro-btn {
  display: inline-block;
  background: gold;
  padding: 12px 20px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  }
